{% extends 'blog/base.html' %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
    <h1>{{ post.title }}</h1>
    <p class="date">Опубликована {{ post.publish }} {{post.author}}</p>
    {{ post.body | linebreaks }}
    <p><a href="{% url 'blog:post_share' post.id %}">Поделиться этим сообщением</a></p>
    <p>Рекомендуемые статьи</p>
    {% for post in similar_posts %}
        <p><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></p>
        {% empty %} Рекомендованных статей нет.
    {% endfor %}
    {% with comments.count as total_comments %}
        <h2>{{ total_comments }} комментария</h2>
    {% endwith %}
    {% for comment in comments %}
        <div class="comment">
            <p class="info">
                Комментарий {{ forloop.counter }}, автор: {{ comment.name }}, создан {{ comment.created}}
            </p>
            {{ comment.body | linebreaks }}
        </div>
    {% empty %}
        <p>Комментариев пока нет</p>
    {% endfor %}
    {% if new_comment %}
        <h2>Ваш комментарий был добавлен</h2>
    {% else %}
        <h2>Добавить новый комментарий</h2>
        <form action="." method="POST">
            {{ comment_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Добавить комментарий"></p>
        </form>
    {% endif %}
{% endblock %}