{% extends 'blog/base.html' %}
{% block title %}Блог{% endblock %}
{% block content %}
    <h1>Блог</h1>
    {% if tag %}
        <h2>Сообщения помечены как "{{ tag.name }}"</h2>
    {% endif %}
    {% for post in posts %}
        <h2>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </h2>
        <p class="tags">
            Теги:
            {%for tag in post.tags.all %}
                <a href="{% url 'blog:post_list_by_tag' tag.slug %}">{{ tag.name }}</a>
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        <p class="date">Опубликовано {{ post.publish }} {{ post.author }}</p>
        {{ post.body | truncatewords:30 | linebreaks }}
    {% endfor %}
    {% include 'blog/pagination.html' with page=posts %}
{% endblock %}
