{% extends 'blog/base.html' %}
{% block title %}Поиск{% endblock %}
{% block content %}
    {% if query %}
        <h1>Сообщения содержащие "{{ query }}":</h1>
        <h3>
            {% with results.count as total_results %}
                Найдено {{ total_results }} статей
            {% endwith %}
        </h3>
        {% for post in results %}
            <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
            {{ post.body | truncatewords:5 }}<br><br><br>
        {% empty %}
            <p>Нет статей по Вашему запросу</p>
        {% endfor %}
        <p><a href="{% url 'blog:post_search' %}">Новый поиск</a></p>
    {% else %}
        <h1>Поиск статей</h1>
        <form action="." method="get">
            {{form.as_p}}
            <input type="submit" value="Поиск">
        </form>
    {% endif %}
{% endblock %}