{% extends 'blog/base.html' %}
{% block title %}Поделиться статьей{% endblock %}
{% block content %}
    {% if sent %}
        <h1>E-mail успешно отправлен</h1>
        <p>"{{ post.title }}" был отправлен в адрес {{ form.cleaned_data.to }}</p>
    {% else %}
        <h1>Поделиться статьей "{{ post.title }}" через e-mail</h1>
        <form action="." method="POST">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Отправка email">
        </form>
    {% endif %}
{% endblock%}