<!DOCTYPE html>
{% load blog_tags %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
</head>
<body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="sidebar">
        <h2>Блог</h2>
        <p>На данный момент написано {% total_posts %} статей</p>
        <p><a href="{% url 'blog:post_feed' %}">Подпишитесь на RSS-рассылку</a></p>
        <h3>Последние сообщения</h3>
        {% show_latest_posts 3 %}
        <h3>Наибольшее количество комментариев у статей: </h3>
        {% get_most_commented_posts as most_commented_posts %}
        <ul>
            {% for post in most_commented_posts %}
                <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>